<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/public/css/adminProductRegisterPage.css(version=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}" />
    <link rel="stylesheet" th:href="@{/public/css/navbar.css(version=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 위지윅 에디터 = CKEditor5 갖고옴 -> CDN방식 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/translations/ko.js"></script>
    <title>adminProductRegisterPage</title>
    <style>
        .ck.ck-editor{
            min-height: 30em;

        }
        .ck-editor__editable {
            min-height: 30em;
        }
    </style>
</head>
<body style="margin:0; padding:0">
<div class="container-fluid">
    <div class="row">

        <!-- 좌측 네비바 => col-2 부분이다.-->
        <div class="col-2 m-0" style="padding-left: 0; ">

            <!-- 좌측 아이콘 -->
            <div class="row" style="position: sticky; top: 0;" >
                <div class="col d-flex justify-content-center">
                    <img th:src="@{/public/image/nutrihubCompanyLogo/MainLogo.png}"  alt=""
                         style = "height: 15vh; cursor:pointer" th:onclick="|location.href='@{./MainPage}'|">
                </div>
            </div>
            <!-- 관리자 메뉴 바 -->
            <div class="row" style="padding-left:0.8em; position: sticky; top: 15vh; height:85vh;">
                <div class="col" style="background-color: #599468; border: solid 0.5em #599468; ">

                    <div class="row admin-menu-item-home" style="margin-top:2em; border-radius: 2em" th:onclick="|location.href='@{./MainPage}'|" >
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em;">
                            <img th:src="@{/public/image/adminMainPage/home_logo.png}" alt="" style="cursor: pointer;width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">홈</p>
                        </div>
                    </div>

                    <div class="row admin-menu-item-product" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em;">
                            <img th:src="@{/public/image/adminMainPage/box_logo.png}" alt="" style="width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style=" color:white; font-size: 1.2em " >상품 관리</p>
                        </div>
                    </div>

                    <div class="row admin-menu-item-delivery" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/truck_logo.png}" alt="" style="width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">배송 관리</p>
                        </div>
                    </div>


                    <div class="row admin-menu-customer" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/user_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">고객 관리</p>
                        </div>
                    </div>


                    <div class="row admin-menu-question" style="margin-top:14em;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/questionMark_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">사용자 지정</p>
                        </div>
                    </div>


                    <div class="row admin-menu-setting" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/setting_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">설정</p>
                        </div>
                    </div>

                    <div class="row" style="height: 5em"></div>
                </div>
            </div>
        </div>

        <!-- 네비바 끝 -->


        <!-- 본문 -->
        <div class="col">

            <div class="row" style="height:15vh;">
                <div class="col-2 d-flex justify-content-end align-items-center">

                    <img th:src="@{/public/image/adminMainPage/store_logo.png}" alt="" style="height:3.5vh">
                </div>
                <div class="col-3 d-flex align-items-center justify-content-start">
                    <p class="orbit-regular mb-0" style="color:darkgray; font-size:1.2em; font-weight: 500;">상품 관리</p>
                    <p class="orbit-regular mb-0" style="font-weight: bold;font-size:1.2em">&nbsp;&nbsp; > &nbsp;&nbsp;</p>
                    <p class="orbit-regular mb-0" style="font-size:1.2em"> 상품 등록 </p>
                </div>

                <div class="col d-flex justify-content-end align-items-center">
                    <span class="orbit-regular mb-0" style="font-size:1.2em; color:darkgray"> 로그아웃</span>&nbsp;
                    <img th:src="@{/public/image/adminMainPage/logout_logo.png}" alt="" style="height:3.5vh">
                </div>
                <div class="col-1"></div>
            </div>
            <!-- 구분선 -->
            <div class="row" style="border-top: solid 0.2em gray; background-color: #F1F3F5">
                <div class="col" style="padding:2em;">
                    <div class="row border" style="background-color: white;">
                        <div class="col p-4">
                            <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold; color:darkgreen">상품 등록</span>
                        </div>
                    </div>



                    <!-- col-10 부분의 왼쪽, 오른쪽 부분의 구분선을 넣었다. -->
                    <div class="row" style="border-left: 1px solid #DEE2E6;border-right: 1px solid #DEE2E6;border-bottom:1px solid #DEE2E6">
                        <div class="col p-4">

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">카테고리</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:14vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        관리카테고리
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4" style="background-color: white">
                                    <!--                                    <input class="mt-3 ps-4" type="text" placeholder="카테고리명 입력"-->
                                    <!--                                           style="width:50%;height:30% ;border-radius:0.5em; border: 1px solid darkgray;">-->
                                    <label for="lang"></label>
                                    <select class="form-select" name="languages" id="lang">
                                        <option value="" disabled selected>선택해주세요</option>
                                        <option value="상품종류1">상품종류1</option>
                                        <option value="상품종류2">상품종류2</option>
                                        <option value="상품종류3">상품종류3</option>
                                        <option value="상품종류4">상품종류4</option>
                                        <option value="상품종류5">상품종류5</option>
                                        <option value="상품종류6">상품종류6</option>
                                    </select>
                                </div>
                                <div class="col" style="background-color: white"></div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 정보</span>
                                </div>
                            </div>
                            <div class="row mt-4 border" style="height:10vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                  <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        상품명
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">
                                    <input class="form-control" placeholder="상품명 입력" style="text-align: center">
                                </div>
                                <div class="col"style="background-color: white"></div>
                            </div>

                            <div class="row  border-bottom border-start border-end" style="height:10vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                  <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        브랜드
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">
                                    <input class="form-control" placeholder="브랜드명 입력" style="text-align:center;">
                                </div>
                                <div class="col"style="background-color: white"></div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">대표 가격 정보</span>
                                </div>
                            </div>
                            <div class="row mt-4 border" style="height:13vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray; font-weight: bold">
                                        대표가격 정보
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered; font-weight: bold">*</span>
                                </div>

                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="price1" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        정상가
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="price1" class="form-control w-50" style="width: auto;" placeholder="">
                                        <span style="margin-left: 0.5em;">원</span>
                                    </div>
                                </div>

                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="price1" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        판매가
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="price2" class="form-control w-50" style="width: auto;" placeholder="">
                                        <span style="margin-left: 0.5em;">원</span>
                                    </div>
                                </div>
                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="price1" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        할인율
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="price3" class="form-control w-50" style="width: auto;" placeholder="">
                                        <span style="margin-left: 0.5em;">%</span>
                                    </div>
                                </div>
                                <div class="col" style="background-color: white"></div>
                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 이미지</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:14vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                        <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                            대표 이미지
                                        </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>
                                <div class="col ps-5 d-flex align-items-center" style="background-color: white">
                                    <!-- 버튼을 라벨로 해주고 라벨이 대신 버튼이 되어줄것이다.-->
                                    <label for="Representative-image">
                                        <img th:src="@{/public/image/adminMainPage/photo_logo.png}"
                                             style="width:auto; height: 10vh; cursor: pointer">
                                    </label>
                                    <input type="file" class="Representative-image" id="Representative-image"/>
                                </div>
                            </div>

                            <div class="row border-start border-end border-bottom" style="height:14vh">
                                <div class="col-2 pt-0 d-flex flex-column justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold;">
                                        상세 이미지 <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold;">*</span>
                                    </span>
                                    <span style="font-size: 1em; color: dimgray;">(최대 3개 등록 가능)</span>
                                </div>

                                <div class="col ps-5 d-flex align-items-center" style="background-color: white;">
                                    <!-- 버튼을 라벨로 해주고 라벨이 대신 버튼이 되어줄것이다.-->
                                    <label for="detailed_image">
                                        <img th:src="@{/public/image/adminMainPage/photo_logo.png}" style="width:auto; height: 10vh; cursor: pointer;">
                                    </label>
                                    <input type="file" multiple="multiple" class="detailed_image" id="detailed_image" style="display: none;">
                                </div>
                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 설명</span>
                                </div>
                            </div>


                            <div class="row mt-4" style="height: 35em;">
                                <div class="col">
                                    <label for="product-description"></label>
                                    <!-- div 태그로 감싸준다. -->
                                    <div id="editor-container">
                                        <textarea name="product-description" id="product-description"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">구매제한</span>
                                </div>
                            </div>


                            <div class="row mt-4 border" style="height:10vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        최대 구매 수량
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">
                                    <input type="number" class="form-control" placeholder="상품 개수 입력" style="text-align: center">
                                </div>
                                <div class="col" style="background-color: white">
                                </div>
                            </div>



                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">배송</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:10vh; background-color: white">
                                <div class="col-2"></div>
                                <div class="col-4 pt-0 d-flex align-items-center">
                                    <span class="nato-sans">아직 등록된 출고지가 없습니다. 출고지를 등록해주세요.</span>
                                </div>


                                <!-- 모달 버튼 -->
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <button class="btn btn-success btn-open-modal-release-address" style="height: 3.5em">출고지 추가</button>
                                </div>

                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">반품/교환</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:10vh; background-color: white">
                                <div class="col-2"></div>
                                <div class="col-4 pt-0 d-flex align-items-center">
                                    <span class="nato-sans">아직 등록된 반품/교환지가 없습니다. 먼저 반품/교환지를 등록해주세요</span>
                                </div>
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <button class="btn btn-success btn-open-modal-exchange-address" style="height: 3.5em">반품/교환지 추가</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-release-address">
    <div class="modal-release-address-content">
        <div class="row">
            <div class="col">
                <p class="orbit-regular" style="font-size:2em">새 주소지 등록</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지 유형</p>
            </div>
            <div class="col-7 ps-5">
                출고지
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지명</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="주소지명을 입력해주세요">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">우편 번호</p>
            </div>
            <div class="col-3">
                <input style="background-color: #EEEEEE;" class="form-control" type="text" placeholder="3~6글자로 입력" disabled ="disabled" id ="1">
            </div>
            <div class="col-4">
                <button class="btn btn-primary" onclick="DaumPostcode()">우편번호 검색</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소</p>
            </div>

            <div class="col-7">
                <input style="background-color: #EEEEEE; width:60%;" class="form-control" type="text" placeholder="기본주소를 입력해주세요." disabled = "disabled"
                       id="release-address">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">

            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="상세 주소를 입력해주세요" id="dsa1">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required  placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">추가 전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3 border-top"></div>
        <div class="row mt-4 ">
            <div class="col-8"></div>
            <div class="col-2 p-0"><button class="btn btn-close-modal-release-address" style="width:75%;border: 1px solid #D9D9D9;">취소</button> </div>
            <div class="col-2 p-0"><button class="btn btn-success" style="width:75%">등록</button> </div>
        </div>
    </div>
</div>

<div class="modal-exchange-address">
    <div class="modal-exchange-address-content">
        <div class="row">
            <div class="col">
                <p class="orbit-regular" style="font-size:2em">새 주소지 등록</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지 유형</p>
            </div>
            <div class="col-7 ps-5">
                반품지
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지명</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="주소지명을 입력해주세요">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">우편 번호</p>
            </div>
            <div class="col-3">
                <input style="background-color: #EEEEEE;" class="form-control" type="text" placeholder="3~6글자로 입력" disabled ="disabled" id ="release-address-postcode">
            </div>
            <div class="col-4">
                <button class="btn btn-primary" onclick="DaumPostcode()">우편번호 검색</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소</p>
            </div>

            <div class="col-7">
                <input style="background-color: #EEEEEE; width:60%;" class="form-control" type="text" placeholder="기본주소를 입력해주세요." disabled = "disabled"
                       id="2">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">

            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="상세 주소를 입력해주세요" id="3">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required  placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">추가 전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3 border-top"></div>
        <div class="row mt-4 ">
            <div class="col-8"></div>
            <div class="col-2 p-0"><button class="btn btn-close-modal-exchange-address-content" style="width:75%;border: 1px solid #D9D9D9;">취소</button> </div>
            <div class="col-2 p-0"><button class="btn btn-success" style="width:75%">등록</button> </div>
        </div>



    </div>
</div>





<!-- 부트스트랩-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- JQuery-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 다음 주소 api 함수
    // data.zonecode: 선택된 주소의 우편번호
    // data.roadAddress: 도로명 주소 (도로명 주소를 선택한 경우)
    // data.jibunAddress: 지번 주소 (지번 주소를 선택한 경우)
    // data.bname: 법정동명 (도로명 주소 선택 시)
    // data.buildingName: 건물명 (공동주택일 경우)
    // data.apartment: 공동주택 여부 (공동주택이면 'Y')
    function DaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) { // data 객체로 전달. 위에 데이터 객체로 정보 얻기 가능
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    // document.getElementById("release-detail-address").value = extraAddr;

                } else {
                    document.getElementById("release-detail-address").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('release-address-postcode').value = data.zonecode;
                document.getElementById("release-address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("release-detail-address").focus();
            }
        }).open();
    }

    // DOM이 준비된 후 코드 실행 (jQuery 사용)
    $(document).ready(function() {
        // CkEditor5 사용
        ClassicEditor.create(document.querySelector('#product-description'), {
            language: 'ko',
            height: 250
        });
        // Modal 버튼 이벤트 등록 = fadeIn = 서서히 드러나는 애니메이션 이벤트
        // 모달 닫기 버튼 클릭 이벤트 등록 = fadeOut = 서서히 사라지는 애니메이션 이벤트

        // ---------------- 출고지 등록 ------------------------------
        $('.btn-open-modal-release-address').click(function(){
            $('.modal-release-address').fadeIn();
        });
        $('.btn-close-modal-release-address').click(function(){
            $('.modal-release-address').fadeOut();
        });

        $('.btn-open-modal-exchange-address').click(function(){
            $('.modal-exchange-address').fadeIn();
        });

        $('.btn-close-modal-exchange-address-content').click(function(){
            $('.modal-exchange-address').fadeOut();
        })

    });
</script>


</body>
</html>
