<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/public/css/adminProductRegisterPage.css(version=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}" />
    <link rel="stylesheet" th:href="@{/public/css/navbar.css(version=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 위지윅 에디터 = CKEditor5 갖고옴 -> CDN방식 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/translations/ko.js"></script>
    <title>adminProductRegisterPage</title>
    <style>
        .ck.ck-editor{
            min-height: 30em;

        }
        .ck-editor__editable {
            min-height: 30em;
        }
    </style>
</head>
<body style="margin:0; padding:0">
<div class="container-fluid">
    <div class="row">

        <!-- 좌측 네비바 => col-2 부분이다.-->
        <div class="col-2 m-0" style="padding-left: 0; ">

            <!-- 좌측 아이콘 -->
            <div class="row" style="position: sticky; top: 0;" >
                <div class="col d-flex justify-content-center">
                    <img th:src="@{/public/image/nutrihubCompanyLogo/MainLogo.png}"  alt=""
                         style = "height: 15vh; cursor:pointer" th:onclick="|location.href='@{./MainPage}'|">
                </div>
            </div>
            <!-- 관리자 메뉴 바 -->
            <div class="row" style="padding-left:0.8em; position: sticky; top: 15vh; height:85vh;">
                <div class="col" style="background-color: #599468; border: solid 0.5em #599468; ">

                    <div class="row admin-menu-item-home" style="margin-top:2em; border-radius: 2em" th:onclick="|location.href='@{./MainPage}'|" >
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em;">
                            <img th:src="@{/public/image/adminMainPage/home_logo.png}" alt="" style="cursor: pointer;width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">홈</p>
                        </div>
                    </div>

                    <div class="row admin-menu-item-product" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em;">
                            <img th:src="@{/public/image/adminMainPage/box_logo.png}" alt="" style="width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style=" color:white; font-size: 1.2em " >상품 관리</p>
                        </div>
                    </div>

                    <div class="row admin-menu-item-delivery" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/truck_logo.png}" alt="" style="width:100%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">배송 관리</p>
                        </div>
                    </div>


                    <div class="row admin-menu-customer" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/user_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">고객 관리</p>
                        </div>
                    </div>


                    <div class="row admin-menu-question" style="margin-top:14em;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/questionMark_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">사용자 지정</p>
                        </div>
                    </div>


                    <div class="row admin-menu-setting" style="margin-top:2em; align-items: center;border-radius: 2em;">
                        <div class="col-3 d-flex justify-content-end align-items-center" style="padding:0 0 0 2em; border-radius: 2em">
                            <img th:src="@{/public/image/adminMainPage/setting_logo.png}" alt="" style="width:75%; height: auto;">
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center text-center">
                            <p class="noto-sans mb-0" style="color:white; font-size: 1.2em ">설정</p>
                        </div>
                    </div>

                    <div class="row" style="height: 5em"></div>
                </div>
            </div>
        </div>

        <!-- 네비바 끝 -->


        <!-- 본문 -->
        <div class="col">
            <div class="row" style="height:15vh;">
                <div class="col-2 d-flex justify-content-end align-items-center">

                    <img th:src="@{/public/image/adminMainPage/store_logo.png}" alt="" style="height:3.5vh">
                </div>
                <div class="col-3 d-flex align-items-center justify-content-start">
                    <p class="orbit-regular mb-0" style="color:darkgray; font-size:1.2em; font-weight: 500;">상품 관리</p>
                    <p class="orbit-regular mb-0" style="font-weight: bold;font-size:1.2em">&nbsp;&nbsp; > &nbsp;&nbsp;</p>
                    <p class="orbit-regular mb-0" style="font-size:1.2em"> 상품 등록 </p>
                </div>

                <div class="col d-flex justify-content-end align-items-center">
                    <span class="orbit-regular mb-0" style="font-size:1.2em; color:darkgray"> 로그아웃</span>&nbsp;
                    <img th:src="@{/public/image/adminMainPage/logout_logo.png}" alt="" style="height:3.5vh">
                </div>
                <div class="col-1"></div>
            </div>
            <!-- 구분선 -->
            <div class="row" style="border-top: solid 0.2em gray; background-color: #F1F3F5">
                <div class="col" style="padding:2em;">
                    <div class="row border" style="background-color: white;">
                        <div class="col p-4">
                            <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold; color:darkgreen">상품 등록</span>
                        </div>
                    </div>


                    <form action="./ProductRegister" method="post" id ="productRegister">
                        <!-- 상품 등록 요청 보내기 -->
                    <!-- col-10 부분의 왼쪽, 오른쪽 부분의 구분선을 넣었다. -->
                    <div class="row" style="border-left: 1px solid #DEE2E6;border-right: 1px solid #DEE2E6;border-bottom:1px solid #DEE2E6">
                        <div class="col p-4">

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">카테고리</span>
                                </div>
                            </div>


                            <div class="row mt-4 border" style="height:14vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        관리카테고리
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4" style="background-color: white">
                                    <!--                                    <input class="mt-3 ps-4" type="text" placeholder="카테고리명 입력"-->
                                    <!--                                           style="width:50%;height:30% ;border-radius:0.5em; border: 1px solid darkgray;">-->
                                    <label for="lang"></label>
                                    <select class="form-select" name="" id="lang" style="text-align: center;">
                                        <option value="" disabled selected >선택해주세요</option>
                                        <option value="상품종류1">상품종류1</option>
                                        <option value="상품종류2">상품종류2</option>
                                        <option value="상품종류3">상품종류3</option>
                                        <option value="상품종류4">상품종류4</option>
                                        <option value="상품종류5">상품종류5</option>
                                        <option value="상품종류6">상품종류6</option>
                                    </select>
                                </div>
                                <div class="col" style="background-color: white"></div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 정보</span>
                                </div>
                            </div>
                            <div class="row mt-4 border" style="height:10vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                  <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        상품명
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">
                                    <input class="form-control" placeholder="상품명 입력" style="text-align: center" name="product_name">
                                </div>
                                <div class="col"style="background-color: white"></div>
                            </div>

<!--                            <div class="row  border-bottom border-start border-end" style="height:10vh">-->
<!--                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">-->
<!--                                  <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">-->
<!--                                        브랜드-->
<!--                                    </span>-->
<!--                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>-->
<!--                                </div>-->

<!--                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">-->
<!--                                    <input class="form-control" placeholder="브랜드명 입력" style="text-align:center;">-->
<!--                                </div>-->
<!--                                <div class="col"style="background-color: white"></div>-->
<!--                            </div>-->

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">대표 가격 정보</span>
                                </div>
                            </div>
                            <div class="row mt-4 border" style="height:13vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray; font-weight: bold">
                                        대표가격 정보
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered; font-weight: bold">*</span>
                                </div>

                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="product-normal-price" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        정상가
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="product-normal-price" class="form-control w-50" style="width: auto; text-align:center;" name="price" >
                                        <span style="margin-left: 0.5em;">원</span>
                                    </div>
                                </div>


                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="product-discount-rate" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        할인율
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="product-discount-rate" class="form-control w-50" style="width: auto; text-align: center" name="sale_percent">
                                        <span style="margin-left: 0.5em;">%</span>
                                    </div>
                                </div>

                                <div class="col-3 ps-4 pt-3 d-flex flex-column center-label-container" style="background-color: white">
                                    <label for="product-selling-price" class="text-center" style="margin-bottom: 0.5em; font-size: 1em; color: black; font-weight: bold;">
                                        판매가
                                        <span style="color:gray"><i class="bi bi-info-circle"></i></span>
                                    </label>
                                    <!-- 원을 일직선으로 보이게 하기 위해 d-flex 적용 -->
                                    <div class="d-flex justify-content-center align-items-center">
                                        <input id="product-selling-price" class="form-control w-50" style="width: auto; text-align: center"  name="sale_price">
                                        <span style="margin-left: 0.5em;">원</span>
                                    </div>
                                </div>
                                <div class="col" style="background-color: white"></div>
                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 이미지</span>
                                </div>
                            </div>

                            <!-- ------------ 대표이미지 ------------ -->
                            <div class="row mt-4 border" style="height:14vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                        <span class="noto-sans" style="font-size: 1.1em; color:darkgray;font-weight: bold ">
                                            대표 이미지
                                        </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>
                                <div class="col ps-5 d-flex align-items-center" style="background-color: white">
                                    <!-- 버튼을 라벨로 해주고 라벨이 대신 버튼이 되어줄것이다.-->
                                    <label for="representative-image">
                                        <img th:src="@{/public/image/adminProductRegisterPage/photo_logo.png}"
                                             style="width:auto; height: 10vh; cursor: pointer">
                                    </label>
                                    <!-- 대표 이미지 image만 accept 되게..... -->
                                    <input type="file" accept="image/*" class="representative-image" id="representative-image" style="display: none" name="representative_image">
                                </div>
                            </div>
                            <!-- ------------------------------------ -->

                            <div class="row border-start border-end border-bottom" style="height:14vh">
                                <div class="col-2 pt-0 d-flex flex-column justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1.1em; color:darkgray;font-weight: bold;">
                                        상세 이미지
                                        <span class="noto-sans" style="align-items: center; display:inline;font-size: 0.9em; color:orangered;font-weight: bold;">*</span>
                                    </span>
                                    <span class="orbit-regular" style="font-size: 0.8em; color: dimgray; ">(최대 3개 등록 가능)</span>
                                </div>

                                <div class="col ps-5 d-flex align-items-center" style="background-color: white;">
                                    <!-- 버튼을 라벨로 해주고 라벨이 대신 버튼이 되어줄것이다.-->
                                    <label for="detailed-image">
                                        <img th:src="@{/public/image/adminProductRegisterPage/photo_logo.png}" style="width:auto; height: 10vh; cursor: pointer;">
                                    </label>
                                    <input type="file" multiple="multiple" accept="image/*" class="detailed-image" id="detailed-image" style="display: none;" name="detailed_image1">
                                </div>
                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">상품 설명</span>
                                </div>
                            </div>


                            <div class="row mt-4" style="height: 35em;">
                                <div class="col">
                                    <label for="product-description"></label>
                                    <!-- div 태그로 감싸준다. -->
                                    <div id="editor-container">
                                        <textarea name="product-description" id="product-description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">구매제한</span>
                                </div>
                            </div>


                            <div class="row mt-4 border" style="height:10vh">
                                <div class="col-2 pt-0 d-flex justify-content-center align-items-center" style="border-right: 1px solid #DEE2E6; padding-top:1.9em;">
                                    <span class="noto-sans" style="font-size: 1em; color:darkgray;font-weight: bold ">
                                        최대 구매 수량
                                    </span>
                                    <span class="noto-sans" style="font-size: 1em; color:orangered;font-weight: bold" >*</span>
                                </div>

                                <div class="col-4 ps-4 d-flex justify-content-center align-items-center" style="background-color: white">
                                    <input type="number" class="form-control" placeholder="상품 개수 입력" style="text-align: center">
                                </div>
                                <div class="col" style="background-color: white">
                                </div>
                            </div>



                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">배송</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:10vh; background-color: white">
                                <div class="col-2"></div>
                                <div class="col-4 pt-0 d-flex align-items-center">
                                    <span class="nato-sans">아직 등록된 출고지가 없습니다. 출고지를 등록해주세요.</span>
                                </div>


                                <!-- 모달 버튼 -->
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <button class="btn btn-success w-100 btn-open-modal-release-address" style="height: 2.5em"
                                    type="button">출고지 추가</button>
                                </div>

                            </div>


                            <div class="row mt-5">
                                <div class="col">
                                    <span class="noto-sans" style="font-size: 1.6em ; font-weight: bold">반품/교환</span>
                                </div>
                            </div>

                            <div class="row mt-4 border" style="height:10vh; background-color: white">
                                <div class="col-2"></div>
                                <div class="col-4 pt-0 d-flex align-items-center">
                                    <span class="nato-sans">아직 등록된 반품/교환지가 없습니다. 먼저 반품/교환지를 등록해주세요</span>
                                </div>
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <!-- 반품/ 교환지 모달 등록 버튼-->
                                    <button class="btn w-100 btn-success btn-open-modal-exchange-address" style="height: 2.5em;" type="button" >
                                        반품/교환지 추가
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>


                    <div class="row mt-4">
                        <div class="col-9">
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <input type="button" class="form-sell-button" value="판매요청" onclick="ReisgerProduct()" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 출고지 등록 모달 내용 -->
<div class="modal-release-address">
    <!-- FadeUn-->
    <div class="modal-release-address-content">
        <div class="row">
            <div class="col">
                <p class="orbit-regular" style="font-size:2em">주소지 등록</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지 유형</p>
            </div>
            <div class="col-7 ps-5">
                출고지
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지명</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="주소지명을 입력해주세요">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">우편 번호</p>
            </div>
            <div class="col-3">
                <input style="background-color: #EEEEEE;" class="form-control" type="text" placeholder="3~6글자로 입력" disabled ="disabled" id ="release-address-postcode">
            </div>
            <div class="col-4">
                <!-- 다음 주소 api 활용 : 함수 이름은 DaumDeliveryPostcode().-->
                <button class="btn btn-primary" onclick="DaumDeliveryPostcode()">우편번호 검색</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소</p>
            </div>

            <div class="col-7">
                <input style="background-color: #EEEEEE; width:60%;" class="form-control" type="text" placeholder="기본주소를 입력해주세요." disabled = "disabled"
                       id="release-address">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">

            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="상세 주소를 입력해주세요" id="release-detail-address">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required  placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">추가 전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3 border-top"></div>
        <div class="row mt-4 ">
            <div class="col-8"></div>
            <div class="col-2 p-0"><button class="btn btn-close-modal-release-address" style="width:75%;border: 1px solid #D9D9D9;">취소</button> </div>
            <div class="col-2 p-0"><button class="btn btn-success" style="width:75%">등록</button> </div>
        </div>
    </div>
</div>

<div class="modal-exchange-address">
    <div class="modal-exchange-address-content">
        <div class="row">
            <div class="col">
                <p class="orbit-regular" style="font-size:2em">반품 / 교환지 등록</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지 유형</p>
            </div>
            <div class="col-7 ps-5">
                반품지
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소지명</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="주소지명을 입력해주세요" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">우편 번호</p>
            </div>
            <div class="col-3">
                <!-- 여기가 우편 번호 보여주는 곳-->
                <input style="background-color: #EEEEEE;" class="form-control" type="text" placeholder="3~6글자로 입력" disabled ="disabled" id ="return-address-postcode">
            </div>
            <div class="col-4">
                <button class="btn btn-primary" onclick="DaumReturnPostCode()">우편번호 검색</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">
                <p class="noto-sans" style="">주소</p>
            </div>

            <div class="col-7">
                <input style="background-color: #EEEEEE; width:60%;" class="form-control" type="text" placeholder="기본주소를 입력해주세요." disabled = "disabled"
                       id="return-address">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-4">

            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="text" placeholder="상세 주소를 입력해주세요" id="return-detail-address">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col">
                <p class="noto-sans" style="">추가 전화번호</p>
            </div>
            <div class="col-7">
                <input style="width:60%;" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required placeholder="010-xxxx-xxxx">
            </div>
        </div>
        <div class="row mt-3 border-top"></div>
        <div class="row mt-4 ">
            <div class="col-8"></div>
            <div class="col-2 p-0"><button class="btn btn-close-modal-exchange-address-content" style="width:75%;border: 1px solid #D9D9D9;">취소</button> </div>
            <div class="col-2 p-0"><button class="btn btn-success" style="width:75%">등록</button> </div>
        </div>



    </div>
</div>





<!-- 부트스트랩-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- JQuery-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 다음 주소 api 함수
    // data.zonecode: 선택된 주소의 우편번호
    // data.roadAddress: 도로명 주소 (도로명 주소를 선택한 경우)
    // data.jibunAddress: 지번 주소 (지번 주소를 선택한 경우)
    // data.bname: 법정동명 (도로명 주소 선택 시)
    // data.buildingName: 건물명 (공동주택일 경우)

    // 배송지 Daum 주소 API 함수
    // data.apartment: 공동주택 여부 (공동주택이면 'Y')
    function DaumDeliveryPostcode() {
        new daum.Postcode({
            oncomplete: function(data) { // data 객체로 전달
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                // 도로명 주소일 경우 참고항목을 조합
                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                } else {
                    document.getElementById("release-detail-address").value = '';
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('release-address-postcode').value = data.zonecode;
                document.getElementById("release-address").value = addr;
                document.getElementById("release-detail-address").value = extraAddr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("release-detail-address").focus();
                // 팝업을 닫는다.
                window.close(); // 주소 선택 후 팝업 닫기
            }
        }).open(); // 이 호출은 필요합니다.
    }
    // 배송/ 반품지 Damn 주소 Api
    function DaumReturnPostCode() {
        new daum.Postcode({
            oncomplete: function (data) { // data 객체로 전달
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                // 도로명 주소일 경우 참고항목을 조합
                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                } else {
                    document.getElementById("release-detail-address").value = '';
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('return-address-postcode').value = data.zonecode;
                document.getElementById("return-address").value = addr;
                document.getElementById("return-detail-address").value = extraAddr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("return-detail-address").focus();
                // 팝업을 닫는다.
                window.close(); // 주소 선택 후 팝업 닫기
            }
        }).open(); // 이 호출은 필요합니다.
    }

    function ReisgerProduct(){
        const RegisterProductForm = $('#productRegister');

        RegisterProductForm.submit();

    }

    // DOM이 준비된 후 코드 실행 (jQuery 사용)
    $(document).ready(function() {
        // CkEditor5 사용
        ClassicEditor.create(document.querySelector('#product-description'), {
            language: 'ko',
            height: 250
        });
        // ------------ 정상가, 판매가, 할`인율에 따른 값 채워짐 --------------------------
        // 정상가
        const productNomalPrice = $('#product-normal-price');
        // 판매가격 (정상가 * (1-할인율)
        const productSellingPrice = $('#product-selling-price');
        // 할인율
        const productDiscountRate = $('#product-discount-rate');

        productNomalPrice.on('input', updateSellingPrice);
        // 정상가 가격 input 태그에 값이 채워질 때 updateSellingPrice 콜백 함수 호출
        productDiscountRate.on('input', updateSellingPrice);
        function updateSellingPrice() {

            // 현재 정상가
            const nomalPrice = parseFloat(productNomalPrice.val()) || 0;
            // 숫자로 변환해줘야한다. val() 함수는 어떤 타입을 입력받건 간에 문자열로 바꾼다.
            const discountRate = parseFloat(productDiscountRate.val()) || 0;

            const sellingPrice = nomalPrice * (1- (discountRate/100));
            productSellingPrice.val(sellingPrice.toFixed());

        }

        // -------------------------------------------------------------------------
        // ------------ 상품 대표이미지 ,상세 이미지 예외처리 (파일 선택 개수 및 안 선택했을때의 예외) -------------------
        $('.representative-image').on('change', function() {
            // 상품 설명 대표 이미지 , [0] = DOM 에 접근하기 위한 것
            const representativeImage = $('.representative-image')[0];
            // 상품 설명 상세 이미지
            const detailedImage = $('.detailed-image')[0];
            // 대표 이미지가 선택되지 않았을 때 경고
            if (representativeImage.files.length === 0) {
                alert('대표 이미지 파일을 선택해주세요!');
            }
        });
        // detailed-image 에 change 콜백 이벤트 추가. (click, mouseover 등 다른 이벤트도 있다.)
        // change = 값이 변하면 호출되게 한다.
        $('.detailed-image').on('change', function() {
            // 상품 설명 상세 이미지
            const detailedImage = $('.detailed-image')[0];
            // 상세 이미지가 3개 이상일 때 경고
            if (detailedImage.files.length > 3) {
                alert('상세 이미지는 최대 3개까지 선택할 수 있습니다.');
                // 파일 선택 초기화
                detailedImage.value = '';  // 파일 선택 초기화
            }
            // 상세 이미지가 선택되지 않았을 때 경고
            if (detailedImage.files.length === 0) {
                alert('상세 이미지를 다시 선택해주세요!');
            }
        });

        //---------------------------------------------------------------------------


        // ---------------- 출고지 등록 모달 이벤트-------------
        // Modal 버튼 이벤트 등록 = fadeIn = 서서히 드러나는 애니메이션 이벤트
        // 모달 닫기 버튼 클릭 이벤트 등록 = fadeOut = 서서히 사라지는 애니메이션 이벤트

        $('.btn-open-modal-release-address').click(function(){
            $('.modal-release-address').fadeIn();
        });
        $('.btn-close-modal-release-address').click(function(){
            $('.modal-release-address').fadeOut();
        });
        // -----------------------------------------------
        // ---------------- 반품 / 교환지 모달 이벤트-------------
        $('.btn-open-modal-exchange-address').click(function(){
            $('.modal-exchange-address').fadeIn();
        });

        $('.btn-close-modal-exchange-address-content').click(function(){
            $('.modal-exchange-address').fadeOut();
        })
        // -----------------------------------------------
    });
</script>


</body>
</html>
